<html>
    <head>
        
 <style>
            {{asset "./WorkHistory.css"}}
        </style>  


    </head>
    <body>
        


<main>
    <div class="head">
<h1>AMT Medical Staffing, Inc</h1>
<span>03/03/2023 - Page 1 of 1</span>
    </div>

    
    <div class="body">
        <ul>
            <li>Report:</li>
              <li>Work History</li>
        </ul>
        <ul>
            <li>Location:</li>
            <li>All</li>
        </ul>
        <ul>
            <li>View:</li>
            <li></li>
        </ul>
    </div>





<table>
    <thead>

    <tr>
                <th>Registrant</th>
                <th>Client</th>
                <th>Department</th>
                <th>Fst Wrk</th>
                <th>Lst Wrk</th>
                <th>Oriented</th>
                <th>Oriented Date</th>
    </tr>
    </thead>
    <tbody>

    {{!-- <tr>
        <td>yahiya166</td>
        <td>yahiya</td>
        <td>asif</td>
        <td>yahiya166@gmail.com</td>
    </tr> --}}
    <tr>
        <td>{{data.[0].username}}</td>
        <td>{{data.[0].firstname}}</td>
        <td>{{data.[0].firstname}}</td>
        <td>{{data.[0].email}}</td>
        <td>{{data.[0].username}}</td>
        <td class="check"><input type="" id="" name="" value=""></td>
        <td></td>
        
        

    </tr>
    <tr>
        <td>{{data.[1].username}}</td>
        <td>{{data.[1].firstname}}</td>
        <td>{{data.[1].firstname}}</td>
        <td>{{data.[1].email}}</td>
        <td>{{data.[1].username}}</td>
        <td class="check"><input type="" id="" name="" value=""></td>
      <td></td>
     
    </tr>
    <tr>
        <td>{{data.[2].username}}</td>
        <td>{{data.[2].firstname}}</td>
        <td>{{data.[2].firstname}}</td>
        <td>{{data.[2].email}}</td>
        <td>{{data.[2].username}}</td>
        <td class="check"><input type="" id="" name="" value=""></td>
        <td></td>
      
    </tr>
    <tr>
        <td>{{data.[3].username}}</td>
        <td>{{data.[3].firstname}}</td>
         <td>{{data.[3].firstname}}</td>
        <td>{{data.[3].email}}</td>
        <td>{{data.[3].username}}</td>
       <td class="check"><input type="" id="" name="" value=""></td>
       <td></td>
     
    </tr>
    </tbody>
</table>


</main>

    </body>
</html>