<html>

<head>
    <style>
            {{asset "./Email.css"}}
        </style>  

    </style>
    <title>AMT Medical</title>
</head>

<body>
<main>
    <div class="head">
<h1>AMT Medical Staffing, Inc</h1>
<span>03/03/2023 - Page 1 of 1</span>
    </div>

    
    <div class="body">
        <ul>
            <li>Report:</li>
              <li>Email Blacklisting</li>
        </ul>
        <ul>
            <li>Location:</li>
            <li>All</li>
        </ul>
        <ul>
            <li>View:</li>
            <li></li>
        </ul>
    </div>


<table>
    <thead>

    <tr>
        <th>Branch</th>
        <th>Registrant</th>
        <th>Type</th>
        <th>Email</th>
        <th>Reason</th>

    </tr>
    </thead>
    <tbody>

    {{!-- <tr>
        <td>yahiya166</td>
        <td>yahiya</td>
        <td>asif</td>
        <td>yahiya166@gmail.com</td>
    </tr> --}}
    <tr>

        <td>{{data.[0].Branch}}</td>
        <td>{{data.[0].Registrant}}</td>
        <td>{{data.[0].Type}}</td>
        <td>{{data.[0].Email}}</td>
        <td>{{data.[0].Reason}}</td>
    </tr>
    <tr>
       <td>{{data.[1].Branch}}</td>
        <td>{{data.[1].Registrant}}</td>
        <td>{{data.[1].Type}}</td>
        <td>{{data.[1].Email}}</td>
        <td>{{data.[1].Reason}}</td>
    </tr>
    
    </tbody>
</table>


</main>



</body>

</html>